.container {
    width: 100%;
    height: 100%;
    background-color: rgb(250, 250, 210);
    align-items: center;
    justify-content: center;
}
form {
    margin: auto;
    width: 70%;
    background-color: white;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 2%;
}
h1 {
    text-align: center;
    
}
fieldset {
    background-color: rgb(230, 230, 230);
    align-items: center;
    justify-content: center;
}
label {
    font-family: 'synemono',monospace;
    font-weight: 600;
}
.sub {
    align-items: center;
    justify-content: center;
    margin-left: 340px;
    margin-top: 25px;
   border-radius: 10%;
}